@import url("https://maps.app.goo.gl/huiBDHGFPBVRR6AL7");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: linear-gradient(90deg, #0e3959 0%,#0e3959 30% , #03a9f5 30% , #03a9f5 100%);

}
.contactUs{
    position: relative;
    width:100%;
    padding: 40px 100px;
}
.contactUs .title h2{
    color:#fff;
    font-weight: 500;
}

